body { background: url("../images/background.jpg") center;
}
div > h1 {
   color: #09b3bf;
}
body > div > div > ol > li {
    margin: 0 5px;
}
div.container-image > img {
    width: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

@media (max-width: 480px) {
  h1 {
    font-size: 18px;
  }
}
body {
    background-image: url('../images/background.jpg');
    background-repeat: repeat-y;
}
div > h1 {
   color: #089bdf;
   font-family: 'Ubuntu', sans-serif;
}
div {
    background-color: aliceblue;
}
body > div > nav > div > a > h4 {
   color: #4244a3;
   font-family: 'Ubuntu', sans-serif;
}
.article-block {
   background: #fff;
   color:  #383838;
   font-family: 'Ubuntu', sans-serif;
   box-shadow: 2px 2px 1px #0d6fdf;
   padding: 10px;
   margin: 10px;
}
.article-block a {
   color: #383838;
   font-family: 'Ubuntu', sans-serif;
}
body > div > div > ol > li {
    margin: 0 5px;
}
div.container-image > img {
    width: 100%;
}
